@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*
    margin: 0
    padding: 0
    font-family: 'Press Start 2P', cursive;

body
    background-color: #333
    overflow: hidden

canvas
    image-rendering: optimizeSpeed;             // Older versions of FF
    image-rendering: -moz-crisp-edges;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit (non standard naming)
    image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    image-rendering: crisp-edges;               // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor;   // IE (non standard naming)

.controlls
    position: absolute
    background: #0003
    right: 0
    padding: 0.5rem
    color: white
    border-bottom-left-radius: 1rem
    font-size: 0.8rem
    transition: all 0.2s
    p
        line-height: 1.3rem
        transition: all 0.2s

    &.minimized
        // left: 95vw
        // right: -100rem
        background: black
        transform: translateX(90%) translateY(-80%)
        p, h2
            opacity: 0
        button
            transform: rotate(45deg)

button
    padding: 0.5rem
    background: black
    margin-top: 1rem
    color: white
    // border: 1px solid green